@model MyMongoProjectNight.Dtos.DepartmentDtos.GetByIdDepartmentDto
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <form method="post">
        <input type="hidden" asp-for="DepartmentId" />
        <label>Departman Adı</label>
        <input type="text" asp-for="DepartmentName" class="form-control" />
        <br />
        <button class="btn btn-warning">Departman Güncelle</button>
    </form>
</div>